@import './reset.css';
@import './MuiOverrides.css';

:root {
    --Off-brand-color: rgb(255, 255, 255);
    --Primary-brand-color: rgb(26, 57, 115);
    --Secondary-brand-color: rgb(36, 78, 157);
    --Secondary-opaque-color: rgba(36, 78, 157, 0.5);
    --Primary-accent-color: rgb(155, 153, 149);
    --Secondary-accent-color: rgb(211, 199, 184);
    --Off-accent-color: #1492df;

    --content-padding: 0rem 10rem;
    --nav-height: 4rem;
    --footer-height: 15rem;
    --footer-background: var(--Primary-accent-color);
    --footer-font-color: var(--Primary-brand-color);
    --max-content-width: 1400px;
    --mobile-breakpoint: 750px;
    --max-desktop-width: 80vw;

    --card-radius: 4px;
    --card-box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
    --card-padding: 1.5rem;

    --error-font: #ff4747;
    --error-background: rgba(255, 71, 71, 0.95);
    --error-banner: #ffa39e;
    --success-background: rgba(114, 255, 71, 0.95);
    --success-banner: #b7eb8f;
    --success-font: #3a9e1cf2;

    --transition: 0.25s ease-in-out;
}

@font-face {
    font-family: 'Gordita';
    src: url('../assets/fonts/Gordita-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Street';
    src: url('../assets/fonts/56thStreet-Regular.otf');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 16px;
    max-width: 100vw;
    font-family: Gordita, sans-serif;
    color: var(--Primary-brand-color);
    overflow-x: hidden !important;
    /* background-color: #e0e0e0; */
}

h1 {
    color: var(--Secondary-brand-color);
    font-family: Gordita, sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: Gordita, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    width: 0%;
    padding-top: 1rem;
    width: 15rem;
    margin: 0 auto;
    border: none;
    border-bottom: 3px solid var(--Secondary-accent-color);
    position: relative;
}
