:root {
    --Off-brand-color: rgb(255, 255, 255);
    --Primary-brand-color: rgb(26, 57, 115);
    --Secondary-brand-color: rgb(36, 78, 157);
    --Primary-accent-color: rgb(155, 153, 149);
    --Secondary-accent-color: rgb(211, 199, 184);

    --nav-height: 4rem;
    --footer-height: 25rem;
    --footer-background: #414042;
    --footer-font-color: white;
    --mobile-breakpoint: 800px;
    --max-desktop-width: 1920px;
}

@font-face {
    font-family: 'Gordita';
    src: url('../assets/fonts/Gordita-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Street';
    src: url('../assets/fonts/56thStreet-Regular.otf');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Gordita, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Street, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    width: 0%;
    padding-top: 1rem;
    width: 15rem;
    margin: 0 auto;
    border: none;
    border-bottom: 3px solid #666;
    position: relative;
    box-shadow: 0px 0px 0px 0px #f9f9f9;
}
